*.exe
*.plist
.vscode

.DS_Store
exercicio3.dSYM/
trabalho.dSYM/
agenda.dSYM/
trabalho
exercicios
maxSubArray
searchInsertPos
arithmeticSlices
minCostClimbStairs
tempCodeRunnerFile.c
removeDuplicates
lista.c 
pilha.c
removeDuplicates
trabalhoCasa
trabalhoCasa
listaEncadeada
listaEncadeada
lista
pilha
exercicioPilha

