*.exe
*.plist
.vscode

.DS_Store
exercicio3.dSYM/
trabalho.dSYM/
agenda.dSYM/
trabalho
exercicios
maxSubArray
searchInsertPos
arithmeticSlices
minCostClimbStairs
tempCodeRunnerFile.c
removeDuplicates
lista.c 
pilha.c
removeDuplicates
trabalhoCasa
trabalhoCasa
listaEncadeada
listaEncadeada
lista
pilha
exercicioPilha
agenda
arvorev2
arvorev2
avl_tree
arvore_rubron_negra
trabalho3_versao_final
exercicioPilha

