*.exe
*.plist
.vscode

.DS_Store
exercicio3.dSYM/
trabalho.dSYM/
trabalho
exercicios
maxSubArray
searchInsertPos
arithmeticSlices
minCostClimbStairs
tempCodeRunnerFile.c
removeDuplicates
removeDuplicates
agenda
agenda
trabalhoCasa
trabalhoCasa
exercicioPilha

